@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<ContentModels.ManufacturingDetails>
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;
@{
	Layout = "Master.cshtml";
}
  </header>

<div class="innerbanner fitlayout">

    <h3 class="px-3 aos-item" data-aos="fade-up">@Model.Title</h3>
    <span class="px-3 aos-item" data-aos="fade-up">
        @Model.Subtitle
    </span>
    <div class="clearfix"></div>
    <a href="/trainingdetails" class="linkbanner mx-3 aos-item" data-aos="fade-up">
        <b>Apply Now</b>
        <i class="feather icon-arrow-right"></i>
    </a>
    <img alt="" src="@Model.BannerImage.Url()" />
</div>

@Html.GetBlockListHtml(Model, "MainContentManufacturingDetails")