    @inherits UmbracoViewPage
    @{
      var homePage = Model.AncestorOrSelf<HomePage>();
    }
    <footer class="fitlayout">

    <!--  <button class="chatbtn">
        <img alt="Chat with Us" src="assets/images/robbot.svg" />
        <span>Chat with Us</span>
      </button> -->
        <div class="container-fluid">
            <div class="row">

              <div class="col-md-4  align-self-center mb-3">

                <img alt="" src="@homePage.FooterLogo.Url()" />
              </div>

                <div class="col-md-4 align-self-center text-center">
                   

                 
                  @if(homePage.FooterSocialLinks!=null)
                  {
                    <ul class="socialfooter">
                      @foreach(var social in homePage.FooterSocialLinks)
                      {
                       <li>
                          <a href="@social.Url">
                            <i class="fa fa-@social.Network"></i>
                          </a>
                        </li>
                      }
                        <li><a href="https://www.instagram.com/electronics_research_institute/"><i class="fa fa-instagram"></i></a></li>


                    </ul>              
                  }

                </div>
            
                <div class="col-md-4 align-self-center endside">
                @homePage.RightsReserved
                </div>
               


            </div>
        </div>
    </footer>