@using Examine
@using Umbraco.Cms.Web.Common
@inject IExamineManager ExamineManager;
@model (string SearchTerm , UmbracoHelper Umbraco)

<partial name="SearchBox" model="Model.SearchTerm" />

@if (ExamineManager.TryGetIndex("ExternalIndex" , out var index))
{
    var searchQuery = $"{Model.SearchTerm}*";
    var results = index.Searcher.CreateQuery().NativeQuery(searchQuery).Execute();

    if (results?.Any()?? false)
    {
        @* <p>We found @results?.Count() results</p> *@
        <div class="row">
            <ul>
                @foreach (var result in results)
                {
                    var content = Model.Umbraco.Content(result.Id);
                    var contentName = content?.Name ?? "No Title";
                    if (contentName != "No Title")
                    {
                        <li>
                            <a href="@content?.Url()">@contentName</a>
                        </li>
                    }
                }
            </ul>
        </div>
    }
    else
    {
        <div>
            <div class="row">
                <div class="col-12 mb-2">
                    <div class="p-5 border border-dark bg-light">
                        <h5>Your search returned 0 results</h5>
                    </div>
                </div>
            </div>
        </div>
    }
}