   @inherits UmbracoViewPage<BlockListItem>
    @{
      var row = (LatestActivitiesRow)Model.Content;
      var settings = (LatestActivitiesRowSettings)Model.Settings;
      if(settings?.Hide ?? false){return;}
      if(row.LatestActivitiesItems == null || !row.LatestActivitiesItems.Any()) return;   
    }
       
           <div class="row">

            <div class="col-lg-12 mt-4">
              <h2 class="migatitle">@row.Title</h2>
            </div>


          @foreach(var item in row.LatestActivitiesItems)
          {
            var rowItem = (LatestActivitiesItem)item.Content;
            <div class="col-lg-6 px-0">
              <div class="activityblock">
                  <h3>@rowItem.Title</h3>
                <img alt="activity name" src="@rowItem.Image.Url()">
              </div>
          </div>
          }








