   @inherits UmbracoViewPage<BlockListItem>
    @{
      var row = (OurParkRow)Model.Content;
      var settings = (OurParkRowSettings)Model.Settings;
      if(settings?.Hide ?? false){return;}
      if(row.OurParkItems == null || !row.OurParkItems.Any()) return;   
    }
     <div class="row">
     
<div class="col-lg-12 my-4">
  <h2 class="migatitle">@row.Title</h2>
</div>

          @foreach(var item in row.OurParkItems)
          {
               var rowItem = (OurParkItem)item.Content;
               <div class="col-lg-4 px-0">
               
               <div class="tourpart darkbluetrans">                  
                    <h3>@rowItem.Description</h3>
                    <img alt="tour" src="@rowItem.Image.Url()" />
               </div>

               </div>
          }    
           </div>

